@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Configuration */
@import './configuration/fonts.pcss';

/* Custom Utilities */
@import './utilities/filters.pcss';

/* Components */
@import './components/button.pcss';



body {
    background-image: url('../images/background.png');
}

