@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './configuration/fonts.pcss';



body {
    background-image: url('../images/background.png');
}

