/*
 * Examplary font face definition with corret asset paths
 */

 /*
@font-face {
    font-family: 'iA Writer Duospace';
    src:  url('../fonts/iAWriterDuospace-Regular.woff2') format('woff2'),
        url('../fonts/iAWriterDuospace-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*/