{% macro content(card) %}
    <div class="h-full overflow-hidden bg-white rounded-md shadow-lg group">
        <img class="w-full transition-all duration-200 ease-in filter-grayscale group-hover:filter-none" src="{{ card.imageUrl }}" alt="" />
        <div class="p-4">
            <h2 class="text-2xl font-bold text-pink-600">
                {{ card.title }}
            </h2>
            <p class="mt-2 text-gray-700">
                {{ card.description }}
            </p>

            {% if card.link.href %}
                <a
                    href="{{card.link-href}}"
                    class="c-button"
                >
                    {{ card.link.text }}
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}