{% macro content(card) %}

    <div class="w-full h-full overflow-hidden bg-white rounded-lg shadow-xl group">
        <img
            src="{{ card.imageUrl }}"
            class="w-full transition-all duration-200 ease-in filter-grayscale group-hover:filter-none"
            alt="random image"
        />
        <div class="p-4">
            <h2 class="text-2xl font-bold text-pink-600">
                {{ card.title }}
            </h2>
            <p class="mt-3">
                {{ card.description }}
            </p>

            {% if card.link.href %}

            <a
                class="mt-4 c-button"
                href="{{ card.link.href }}"
            >
                {{ card.link.text }}
            </a>
            {% endif %}
        </div>
    </div>

{% endmacro %}
